.width-60 {
  width: 60%;
}
.size-45 {
  font-size: 45px;
}

.size-34 {
  font-size: 34px;
}

.size-24 {
  font-size: 24px;
}

.size-20 {
  font-size: 20px;
}

.size-16 {
  font-size: 16px;
}

.mt-30{
  margin-top: 30px;
}

.pt-10{
  padding-top: 10px;
}

.pt-20{
  padding-top: 20px;
}

.pt-50{
  padding-top: 50px;
}

.pt-30{
  padding-top: 30px;
}

.pl-100{
  padding-left: 100px;
}